body
{
    background-color: #003c5e; /* LIU blue 0e82d4*/
    font-family: Helvetica, sans-serif;
    letter-spacing: -0.05rem;
    margin: 0;
    color: white;
}
.navbar
{
    background-color: #69B3e7; /* LIU blue 0e82d4*/
    box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,0.5);
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 3.2rem;
    color: white;
}
.welcometext
{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 10px;
}
.calenderBox 
{
    padding: 5%;
    background-color: #002033;
    border-radius:25%;
    border:dashed red;
}
.weekDiv
{
    padding: 5%;
    align-self: center;
}
#reservationTable
{
    border-spacing: 0;
    border-collapse: collapse;
}
#reservationTable tr, td
{
    border: 0;
    padding: 0px;
    text-align: center;
    size: 10%;
}
th {
    background-color: #104b79;
    max-height: 10px;
    box-shadow: inset 0 -5px 5px -5px rgba(255,255,255,0.5); 
}

tr:nth-child(odd) {
    background-color: #222222;
}

/*
label,input,form
{
    text-align: center;
}
*/

/*Grid CSS testing*/
.email { grid-area: email; }
.password { grid-area: pass; }
.name { grid-area: name; }
.date { grid-area: date; }
.room { grid-area: room; }
.time { grid-area: time; }
.duration { grid-area: dur; }
.emailLabel { grid-area: emailLabel; }
.passwordLabel { grid-area: pass; }
.nameLabel { grid-area: nameLabel; }
.dateLabel { grid-area: dateLabel; }
.roomLabel { grid-area: roomLabel; }
.timeLabel { grid-area: timeLabel; }
.durationLabel { grid-area: durLabel; }
.submit { grid-area: submit; }
.remove { grid-area: rem; }

/* #reservationForm {
  display: inline-grid;
  grid-template-areas:
    'emailLabel email '
    'passLabel pass'
    'nameLabel name'
    'dateLabel date'
    'roomLabel room'
    'timeLabel time'
    'durLabel dur'
    'blank submit rem'
    ;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px 10px 200px 10px;
  max-width: 30%;
  grid-template-columns: 100px 200px minmax(0, 1fr);
  max-height:300px;
} */

/* #reservationForm > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

#message {
  font-size:25px;
  text-align: left; 
  color:#ffc72c;
}

#bigContainer > #calenderDisplay { grid-area: cal;grid-column: 2; grid-row:2/3; }
#bigContainer > #reservationForm { grid-area: form;grid-column:1; grid-row:1/3; }
#bigContainer > #calenderTitle   { grid-area: calTitle; grid-column: 2;grid-row:1; overflow: visible; }
#bigContainer {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 275px 3fr;
  grid-template-rows: 150px 1fr;
  border-top: 1px solid #002033;
  max-height: 90%;
  height: 90%;
}

#calenderDisplay{
  display:inline-grid;
  overflow: scroll;
  max-height: 1000px;
  background-color: #002033;
  border: 1px solid #444444;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

#calenderTitle {
  max-height: 300px;
  height: 300px;
}

.field {
   padding: 5px;
   margin-right: 10px;
   font-weight: bold;
}

.field > input, .field > select {
  width: 100%;
  margin: 0;
  padding: 5px;
}

input, select, button {
  border-radius: 15px;
  border: 1px solid #000000;
  padding: 5px;
  background-color: #222222;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.05em;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}

#submit {
  border-color: lime;
  color: lime;
  background-color: #222222;
}
#remove {
  border-color: white;
  color: #ffcccc;
  background-color: #222222;
}
#clear {
  border-color: white;
  color: lightred;
  background-color: #222222;
}
